@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700;1,800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.page_main{
    /* width: 1140px;
    margin:auto; */
}

.comp_cover{
    width: 100%;
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: round;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    padding: 0px 150px;
    box-sizing: border-box;
}
    .comp_cover .header{
        margin-top: 260px;  
    }
        .comp_cover .header p{
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 64px;
            display: inline;
        }
        .comp_cover .header .weight_700{
            font-weight: 700;
            display: inline;
        }

.desc_btn_sect{
    display: flex;
    height: 300px;
    align-items: end;
    justify-content: space-between;
}
    .desc_btn_sect p{
        color: white;
        font-size: 20px;
        font-weight: 100;
    }