<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/CSS/main.css" rel="stylesheet">
    <link href="../static/CSS/base.css" rel="stylesheet">
    <title>Designed AI</title>
</head>

<body>
    <div class="page_main">
        <div class="comp_cover">
            <div class="header">
                <p>The Best Solution
                </br>for</p>
                <p class="weight_700">Make AI Model
                </br>Faster</p>
            </div>
            <div class="desc_btn_sect">
                <p>Make your AI more accessible
                </br>with our Metep framework.</p>
                <div class="btn_go_contact">
                    <img src="../static/icon/btn_go_contact.svg"/>
                </div>
            </div>
        </div>
        <div class="comp_about">
            <div class="left">
                <video src="http://210.117.250.21/video_detect/yolov4_tiny/grid_pixabay_tiny_63621_yolov4_tiny_conf0.25_nms0.45/grid_2x2_pixabay_tiny_63621_yolov4_tiny_224_T16_rt.mp4"></video>
            </div>
            <div class="right">
                <p class="semi_title">Boost Your AI Business with
                </br>Designed AI</p>
                <p>
                We  create next-generation AI softare framework
                </br>that helps your AI products more efficient and easy accessible.
                </br></br>
                Our Metep AI framework supports to run your AI model faster
                at low cost so you can maximize the profit.
                </br></br>
                We are looking forward to pioneering the new future AI with you.
                </p>
            </div>
        </div>
        <div class="features">
            <ul>
            </ul>
        </div>
    </div>
</body>
</html>